<!DOCTYPE html>
<title>Movie happiness rater</title>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{  url_for('static', filename='frontpage.css')  }}">
</head>

<body>
<div class="title">
    Find out if a movie is sad or not
</div>
<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Search a movie</button>
    <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        <ul>
            {% for item in items %}
            <li>
                <a href="/movie_score/{{loop.index}}">{{ item }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="container">
   <img src="{{ url_for('static', filename='scatterplot.png') }}" class="image" />
</div>
</body>
<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    function filterFunction() {
        var input, filter, li, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        li = div.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            txtValue = li[i].textContent || li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>